<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">


    <insert id="batchInsert">
        insert into dish_flavor (dish_id, name, value)
        values <foreach collection="flavors" item="df" separator=",">
        (#{df.dishId},#{df.name},#{df.value})
    </foreach>
    </insert>
    <update id="batchUpdate">
        update dish_flavor
        set <foreach collection="flavors" item="df" separator=",">
        name=#{df.name},
        value=#{df.value}
    </foreach>
        where dish_id = #{df.dishId}
    </update>
    <update id="Update" parameterType="DishFlavor">
        update dish_flavor
        set <if test="name!=null">name = #{name},</if>
            <if test="value!=null">value = #{value}</if>
        where id = #{id} and dish_id = #{dishId}
    </update>
    <delete id="batchDelete">
        delete from dish_flavor
        <where>
        dish_id = #{dishId}
        </where>
    </delete>
    <select id="selectById" resultType="com.sky.entity.DishFlavor">
        select *
        from dish_flavor
        where dish_id = #{dishId}
    </select>
</mapper>